<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeevedPenguins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB9ECFC41F4BDE1E00DF2A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB9ECFDE1F4BDE1F00DF2A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB9ECFE91F4BDE1F00DF2A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
